@model List<Student>
@{
    ViewData["Title"] = "Öğrenci Listesi";
}
<h1>Bölümdeki Öğrenciler</h1>
<div class="row">
    @foreach (var item in @Model)
    {
        <div class="card col-3">
            <div class="card-body">
                <h5 class="card-title">@item.StudentNo</h5>
                <p class="card-text"> @item.Name @item.Surname</p>
                <p class="card-text"> @item.Email</p>
                <p class="card-text"> @item.TelNo</p>
                <a asp-controller="Students" asp-action="Detay" asp-route-id="@item.Id" class="btn btn-dark">Detay</a>
            </div>
        </div>
    }
</div>
